body{
    background-color: #141C24;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1240px;
    padding: 0px 10px;
    margin: 0 auto;
}
.suptitle{
    position: relative;
    font-weight: 300;
    color: #57D6FF;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 15px;
    padding-left: 80px;
}
.suptitle:before{
    position: absolute;
    content: '';
    height: 1px;
    width: 50px;
    left: 0;
    top: 13px;
    background-color: #57D6FF;
}
.title{
    color: #fff;
    font-size: 30px;
}

.header{
    margin-bottom: 119px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.menu__list{
    display: flex;
}
.menu__item + .menu__item{
    margin-left: 46px;
}
.menu__link{
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 180%;
    transition: all .3s;
}
.menu__link:hover{
    color: #E7E1FF;
    border-bottom: 1px solid #00C5FF;
   
}
.header__content{
    margin-bottom: 100px;
}
.header__content-container{
    max-width: 1347px;
    padding: 10px 0;
    margin: 0 auto;
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.header__slider-item{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 777px;
}
.header__slider-text{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 25%
}
.header__slider-suptitle{
    line-height: 19px;
    font-weight: 500;
}
.header__slider-title{
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 97px;
}
.header__slider-btn{
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    padding: 19px 89px;
}

.works{
    margin-bottom: 93px;
}
.works__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works__img{
    margin-right: 65px;
}
.works__content-title{
    margin-bottom: 50px;
}
.works__content-text{
    color: #ABABAB;
    font-weight: 300;
    font-size: 21.33px;
    line-height: 150%;
}
.works__content-text p{
    margin-bottom: 49px;
}
.works__content-download{
    color: #00C5FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.works__content-download:hover{
    border-bottom: 1px solid #00C5FF;
}